<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href = "webjars/bootstrap/4.4.1-1/css/bootstrap.min.css" rel = "stylesheet"/>
    <link href = "css/styles.css" rel = "stylesheet"/>
    <script src="/webjars/jquery/3.5.0/jquery.min.js"></script>

    <link rel="icon" href="images/sunflower.jpg">
    <title>Focus Meadow</title>
</head>
<body>
    <div class="container">
        <div id="headerDiv" class="row">
                <div class="col-md-3">
                    <h4 id="userText" th:text="${userName}"></h4>
                </div>
                <div class="col-md-2">
                    <h4 id="totalTimeText" th:text="${totalTime}"></h4>
                </div>
                <div class="col-md-3">
                    <img id="coinImg" src="images/coin.jpg">
                    <label id="coinsText" for="coinImg" th:text="${coins}"></label>
                </div>

                <div class="offset-2 col-md-2">
                    <button id="logOutButton" class="btn btn-light">Log out</button>
                </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div id="timerDiv" class="col-md-6">
                        <h1 id="timerText" class="text-center" th:text="${workTimer.getTime()}"></h1>

                        <div class="row  timerRow">
                            <div class="offset-2 col-md-3 form-check">
                                <div class="custom-control custom-radio">
                                    <input id="timerTypeWork" type="radio" class="custom-control-input" name="timerType" onclick="setTimerTextWork()" checked>
                                    <label class="custom-control-label" for="timerTypeWork">work</label>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <input id="inputWorkTime" type="number" class="form-control" th:placeholder="${workTimer.getTime()}"/>
                            </div>
                        </div>

                        <div class="row timerRow">
                            <div class="offset-2 col-md-3 form-check">
                                <div class="custom-control custom-radio">
                                    <input id="timerTypePause" type="radio" class="custom-control-input" name="timerType" onclick="setTimerTextPause()">
                                    <label class="custom-control-label" for="timerTypePause">pause</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input id="inputPauseTime" type="number" class="form-control" th:placeholder="${pauseTimer.getTime()}"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-4">
                                <button id="startButton" class="btn btn-light" onclick="setTimer()" >Start</button>
                                <button id="stopButton" class="btn btn-light" onclick="stopTimer()" disabled>Stop</button>
                            </div>

                        </div>

                    </div>

                    <div id="meadowDiv" class="col-md-6 text-center">
                            <tr th:each="flower : ${meadow}">
                                <img class="meadowFlowerImg" th:src="'images/' + ${flower.image}">
                            </tr>
                    </div>
                </div>
                <div class="row">
                    <div id="shopDiv" class="col-md-12">
                        <div>
                            <div class="row">
                                <div th:each="flower : ${choosableFlowers}">
                                    <div class="choosableFlowerDiv">
                                       <label>
                                           <input class="choosableFlowerRadio" type="radio" name="choosableFlowers"
                                                  th:data-flower="${flower.flowerType}"
                                                  onclick="setFlower(this.getAttribute('data-flower'));" th:checked="${flower.flowerType == choosableFlowers[0].flowerType}">
                                           <img class="choosableFlowerImg" th:src="'images/' + ${flower.image}">
                                       </label>
                                    </div>
                                </div>

                                <div th:each="flower : ${shopFlowers}">
                                    <div class="shopFlowerDiv">
                                        <label>
                                            <input class="shopFlowerRadio" type="radio" name="shopFlowers" disabled>
                                            <img class="shopFlowerImg" th:src="'images/' + ${flower.image}">
                                            <button class="flowerShopButton btn btn-light"
                                                    th:data-flower="${flower.flowerType}"
                                                    th:data-coins="${coins}"
                                                    th:data-cost="${flower.getPrice()}"
                                                    onclick="buyFlower(this.getAttribute('data-flower'),
                                                    this.getAttribute('data-coins'),
                                                    this.getAttribute('data-cost'));">
                                                <text th:text="${flower.getPrice()}"></text>
                                                <img class="flowerShopCoin" src="images/coinButton.jpg">
                                            </button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="achievementsDiv" class="col-md-4">
                <h4>Achievements</h4>
                <div id="achievementDiv" class="row">
                    <div class="col-md-3">
                        <img id="achievementImg" src="images/achievement.jpg">
                    </div>

                    <div class="col-md-3">
                        Achievement
                    </div>
                </div>
            </div>

        </div>
        <div class="row">

        </div>
    </div>


    <script>
        const defaultTimeWork = "[[${workTimer.time}]]";
        const defaultTimePause = "[[${pauseTimer.time}]]";
        let flower = "[[${choosableFlowers[0].flowerType}]]";
    </script>
    <script src="javascript/timerScript.js"></script>
    <script src="webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
</body>
</html>